@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* ── Colors ── */
  --color-surface: #ffffff; /*card color that sits above background*/
  --color-behind: #f6f6f8; /*background that goes behind all elements */
  --color-top-gradient: #1152d4;
  --color-bottom-gradient: #432dd7;

  --color-primary: #1152d4;
  --color-primary-hover: #0e44b5;

  /* Font color */
  --color-t-primary: #0f172a;
  --color-t-secondary: #64748b;
  --color-t-sidebar: #45556c;
  --color-t-inverse: #ffffff;
  --color-t-placeholder: #90a1b9;

  --color-positive: #16a34a;
  --color-negative: #ef4444;
  --color-warning: #a16207;

  --color-border: #e2e8f0;

  /* ── Typography ── */
  --font-inter: "Inter", sans-serif;

  /* ── Border Radius ── */
  --radius-card: 12px;
  --radius-btn: 8px;
  --radius-badge: 4px;
}
