@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* ── Colors ── */
  --color-surface: #ffffff; /*card color that sits above background*/
  --color-behind: #f6f6f8; /*background that goes behind all elements */
  --color-top-gradient: #1152d4;
  --color-bottom-gradient: #432dd7;

  --color-primary: #1152d4;
  --color-primary-hover: #0e44b5;

  /* Font color */
  --color-t-primary: #0f172a;
  --color-t-secondary: #64748b;
  --color-t-sidebar: #45556c;
  --color-t-inverse: #ffffff;
  --color-t-placeholder: #90a1b9;

  --color-positive: #16a34a;
  --color-negative: #ef4444;
  --color-warning: #a16207;

  --color-border: #e2e8f0;

  /* ── Typography ── */
  --font-inter: "Inter", sans-serif;

  /* ── Border Radius ── */
  --radius-card: 12px;
  --radius-btn: 8px;
  --radius-badge: 4px;
}

/* ── Custom Date Input Styling ── */
.styled-date-input::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231152d4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3e%3c/rect%3e%3cline x1='16' y1='2' x2='16' y2='6'%3e%3c/line%3e%3cline x1='8' y1='2' x2='8' y2='6'%3e%3c/line%3e%3cline x1='3' y1='10' x2='21' y2='10'%3e%3c/line%3e%3c/svg%3e") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 1.1rem !important;
  cursor: pointer !important;
  padding: 8px !important;
  border-radius: 8px !important;
  transition: all 0.2s ease !important;
  filter: opacity(0.7) !important;
}

.styled-date-input::-webkit-calendar-picker-indicator:hover {
  filter: opacity(1) !important;
  background-color: #f0f7ff !important;
}

.styled-select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%2364748b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 8 4 4 4-4'/%3E%3C/svg%3E") !important;
  background-position: right 0.75rem center !important;
  background-repeat: no-repeat !important;
  background-size: 1.25em 1.25em !important;
  padding-right: 2.5rem !important;
}
.styled-select:focus {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%231152d4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 8 4 4 4-4'/%3E%3C/svg%3E") !important;
}
